// https://blog.logrocket.com/sass-react-native-guide/

$background-color: #333;
$primary-color: #d3d3d3;
$body-font-size: 14px;
$border-radius: 8px;

%flex_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll_view {
    @extend %flex_box;
    width: 100%;
    padding-top: 50px;
}

.backgroundImage {
    @extend %flex_box;
    width: 100%;
    height: 100%;
}

.main {
    @extend %flex_box;
    max-width: 600px;
}

.container {
    @extend %flex_box;
    padding: 0px 20px 20px 20px;
    gap: 6px;
    width: 100%;
    height: 100%;
}

.list_container {
    @extend %flex_box;
    padding: 0px 10px 0px 10px;
}

.graph_container {
    @extend %flex_box;
    margin: 10px 0px 10px 0px;
}

.textBody {
    font-size: $body-font-size;
    color: $primary-color;
    text-align: center;
    box-shadow: 0 0 12px rgb(155, 155, 155);
}

.textLarge {
    font-size: 20px;
    color: $primary-color;
    box-shadow: 0 0 12px black;
    margin-bottom: 10px;
}

.well {
    width: 100%;
    padding: 8px 20px 12px 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: $border-radius;
    text-align: left;
    display: flex;
    justify-content: flex-start;
}

.input {
    font-size: $body-font-size;
    color: $primary-color;
    padding: 10px 20px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: $border-radius;
    margin-top: 10px;
    margin-bottom: 8px;
}

.slider_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 0px;
}

.slider_outer {
    flex-grow: 1;
    margin-left: 20px;
}

.slider_icon {
    font-size: 30px;
    color: white;
    opacity: 0.9;
}

.slider_thumb {
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.slider_track {
    width: 100%;
    background-color: #0c908a;
}

%button_shared {
    @extend %flex_box;
    padding: 12px 14px;
    background-color: #0c908a;
    width: 100%;
    border-radius: 30px;
}

.button {
    @extend %button_shared;
}

.submit_btn {
    margin-top: 20px;
    width: 80%;
}

.button2 {
    @extend %button_shared;
    background-color: #4e2b68;
}

.buttonText {
    font-size: 18px;
    color: $primary-color;
    font-weight: 400;
}

.list {
    padding-top: 20px;
    width: 100%;
}

.list_item {
    @extend %flex_box;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    font-size: $body-font-size;
    padding: 22px 22px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    margin-bottom: 4px;
    border-radius: $border-radius;
}

.list_text_block {
    flex-grow: 1;
    gap: 5px;
}

.list_item_text {
    font-size: 12px;
    color: $primary-color;
    flex-grow: 1;
    max-width: 90%;
    padding-right: 10px;
}

.list_item_text_title {
    font-size: 20px;
    color: $primary-color;
    flex-grow: 1;
    max-width: 90%;
    padding-right: 10px;
}

.list_item_icon {
    opacity: 0.5;
    width: 12px;
    height: 16px;
}

.list_emoji {
    margin-right: 20px;
}

.emoji_selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0px 3px 0px;
}

.emoji_icon {
    opacity: 0.9;
    color: $primary-color;
}

.emoji_icon_selected {
    opacity: 1;
    color: $primary-color;
    transform: scale(1.2);
    transition: 0.2s;
}
