// https://blog.logrocket.com/sass-react-native-guide/

$background-color: #333;
$primary-color: #d3d3d3;
$body-font-size: 14px;
$border-radius: 8px;

%flex_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.backgroundImage {
    @extend %flex_box;
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    max-width: 600px;
}

.container {
    @extend %flex_box;
    padding: 0px 20px 20px 20px;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.textBody {
    font-size: $body-font-size;
    color: $primary-color;
    text-align: center;
    box-shadow: 0 0 12px black;
}

.textLarge {
    font-size: 34px;
    color: $primary-color;
    box-shadow: 0 0 12px black;
}

.well {
    width: 100%;
    padding: 12px 20px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: $border-radius;
    text-align: left;
    display: flex;
    justify-content: flex-start;
}

.input {
    font-size: $body-font-size;
    color: $background-color;
    padding: 10px 20px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: $border-radius;
    margin-top: 10px;
}

.slider {
    margin-top: 20px;
}

.slider_thumb {
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.slider_track {
    width: 100%;
    background-color: #0c908a;
}

%button_shared {
    @extend %flex_box;
    padding: 14px 14px;
    background-color: #0c908a;
    width: 100%;
    border-radius: 30px;
}

.button {
    @extend %button_shared;
}

.button2 {
    @extend %button_shared;
    background-color: #4e2b68;
}

.buttonText {
    font-size: $body-font-size;
    color: $primary-color;
    font-weight: 700;
}

.list {
    padding-top: 20px;
    width: 100%;
}

.list_item {
    @extend %flex_box;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    font-size: $body-font-size;
    padding: 22px 22px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    margin-bottom: 4px;
    border-radius: $border-radius;
}

.list_text_block {
    flex-grow: 1;
    gap: 5px;
}

.list_item_text {
    font-size: 12px;
    color: $primary-color;
    flex-grow: 1;
    max-width: 90%;
    padding-right: 10px;
}

.list_item_text_title {
    font-size: 20px;
    color: $primary-color;
    flex-grow: 1;
    max-width: 90%;
    padding-right: 10px;
}

.list_item_icon {
    width: 12px;
    height: 16px;
    opacity: 0.5;
}
